{% extends "base.html" %}
{% load staticfiles %}
{% block pagecontent %}
<h1>{{ title_text }}</h1>
<div class="input-group">
           <span class="input-group-btn">
                <a class='btn btn-success btn-copy' data-clipboard-text='{{ short_url }}'>Copy</a>
              </span>
    <input class='form-control' type='text' value='{{ short_url }}'/>
</div>
<br/>
<p>Original: {{ url }}</p>
<br/>
<br/>
<hr/>
<h1>Create Another..</h1>
<form method="POST" action="."> {% csrf_token %}
    <div class="input-group">
        <input type='text' class='form-control' name='url' placeholder="Long URL" />
        <span class="input-group-btn">
        <input class="btn btn-success" type="submit" value="Shorten">
             </span>
    </div>
</form>
{% endblock pagecontent %}

{% block script %}
    <script src="{% static 'shortener/js/clipboard-copy.js' %}"></script>
{% endblock script %}