{% extends "base.html" %}
{% block pagecontent %}
<h2>{{ title }}</h2>
<form method="POST" action="."> {% csrf_token %}
    {% if form.url.errors %}
    <div class="input-group has-error">
        {% else %}
        <div class="input-group">
        {% endif %}
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <span class="input-group-btn">
        <input class="btn btn-success" type="submit" value="Shorten">
             </span>
    </div>
        {% if form.url.errors %}
        <br/>

        {% for error in form.url.errors %}
        <p>{{ error }}</p>
        {% endfor %}

    {% endif %}
</form>
{% endblock pagecontent %}


