{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ description }}">
    <meta name="author" content="mrtn">
    <link rel="icon" href="{% static 'shortener/images/favicon.png' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'shortener/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shortener/css/shortener.css' %}">
    <title>{{ title }}</title>
</head>
<body>
<div class="content">
    <div class="shrt-content">
    <div class="row text-center">
        <h1><a href="/">Go home</a></h1>
        <div class="col-xs-8 col-sm-4 col-xs-offset-2 col-sm-offset-4">
            {% block pagecontent %}
            {% endblock %}
        </div>
    </div>
        </div>
</div>
</body>
</html>