body {
    background-color: #080403;
    background-image: url("/static/shortener/images/cover_shrt.jpg");
    background-size: cover;
}

h1 {
    color: seagreen;
}

.shrt-content {
    margin-top: 5%;
}

.home-title a {
    color: #3c763d;
}

.home-title a:hover {
    color: #2b542c;
    text-decoration: none;
}